
<style>

  @media screen and (max-width: 990px) {
    #menu-bar {
      display: none;
    }
  }

    .header__menu-bar {
      	display: flex;
      	flex-wrap: wrap;
      	align-items: center;
      	justify-content: center;
      	gap: 1rem;
    }

    .header__menu-bar-title-button {
      	display: inline-block;
      	font-weight: 800;
        text-transform: uppercase;
    }

    .header__menu-bar-title-button:hover {
      background-color: rgb(var(--color-shadow));
  }

    .header__menu-bar-title {
      padding: 1.2rem;
      text-decoration: none;
      color: rgba(var(--color-foreground), 0.75);
      white-space: nowrap;
      padding: 1.5rem 2rem;
    }
    
    .header__menu-bar-title:hover {
      color: rgb(var(--color-background));
    }
    
    details[open] > .header__menu-bar-title .icon-caret {
      transform: rotate(180deg);
      color: rgb(var(--color-background));
    }





    .header__menu-bar-child-button {
      color: rgba(var(--color-background), 0.75);
      width: 100%;
      display: inline-block;
      font-weight: 800;
      text-transform: uppercase;
    }

    .header__menu-bar-child-button:hover {
      background-color: rgb(var(--color-background));
    }

    .header__menu-bar-child {
      padding: 1.2rem;
      text-decoration: none;
      color: rgb(var(--color-background));
      white-space: nowrap;
      padding: 1.5rem 2rem;
    }
    
    .header__menu-bar-child:hover {
      color: rgb(var(--color-shadow));
    }
    
    details[open] > .header__menu-bar-title {
      color: rgb(var(--color-background));
    }
    
    details[open]:hover > .header__menu-bar-title {
      text-decoration-thickness: 0.2rem;
    }
    

    
    .header__active-menu-bar-title {
      color: rgb(var(--color-foreground));
    }

    .header__active-menu-bar-title:hover {
      color: rgb(var(--color-background));
    }

    .header__active-menu-bar-child {
      background-color: rgb(var(--color-background));
      color: rgb(var(--color-foreground));
    }

    .list-menu-bar {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      background-color: rgb(var(--color-shadow));
      z-index: 10000 !important;
    }
  
    .menu-margin {
      margin: 0;
      padding: 0;
    }

</style>

<nav id="menu-bar" class="header__menu-bar color-{{ section.settings.menu_color_scheme }}">
    <ul class="menu-margin" role="list">
      {%- for link in section.settings.menu.links -%}
        <li class="header__menu-bar-title-button">
          {%- if link.links != blank -%}
            <header-menu>
              <details id="Details-HeaderMenu-{{ forloop.index }}">
                <summary 
                  id="HeaderMenu-{{ link.handle }}"
				          class="header__menu-bar-title list-menu__item link focus-inset {% if link.child_active %} header__active-menu-bar-title{% endif %}"
                >
                  <span>
                    {{- link.title | escape -}}
                  </span>
                </summary>
                <ul
                  id="HeaderMenu-MenuList-{{ forloop.index }}"
                  class="header__submenu list-menu-bar list-menu list-menu--disclosure color-{{ section.settings.menu_color_scheme }} gradient caption-large motion-reduce global-settings-popup"
                  role="list"
                  tabindex="-1"
                >
                  {%- for childlink in link.links -%}
                    <li class="header__menu-bar-child-button">
                      {%- if childlink.links == blank -%}
                        <a 
                          id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                          href="{{ childlink.url }}"
                          class="header__menu-bar-child list-menu__item link link--text focus-inset caption-large{% if childlink.current %} header__active-menu-bar-child{% endif %}"
                          {% if childlink.current %}
                            aria-current="page"
                          {% endif %}
                        >
                          {{ childlink.title | escape }}
                        </a>
                      {%- else -%}
                        <details id="Details-HeaderSubMenu-{{ link.handle }}-{{ childlink.handle }}">
                          <summary
                            id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                            class="header__menu-bar-child link link--text focus-inset caption-large"
                          >
                            <span>{{ childlink.title | escape }}</span>
                          </summary>
                          <ul
                            id="HeaderMenu-SubMenuList-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                            class="header__submenu list-menu-bar list-menu motion-reduce"
                          >
                            {%- for grandchildlink in childlink.links -%}
                              <li>
                                <a
                                  id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                  href="{{ grandchildlink.url }}"
                                  class="header__menu-bar-child link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                                  {% if grandchildlink.current %}
                                    aria-current="page"
                                  {% endif %}
                                >
                                  {{ grandchildlink.title | escape }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        </details>
                      {%- endif -%}
                    </li>
                  {%- endfor -%}
                </ul>
              </details>
            </header-menu>
          {%- else -%}
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="header__menu-bar-title list-menu__item link link--text focus-inset {% if link.current %} header__active-menu-bar-title{% endif %}"
            >
              <span>
                {{- link.title | escape -}}
              </span>
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>